#map {
    height: 675px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background:#f9f9f9;
}

#nav 
{
    color:#FF0000;
}

/*Santander colours change */
.navbar.bg-danger {
    background-color: #ec0000!important;
}


body {
    padding-top: 56px; /* Adjust based on your navbar height */
}

.navbar1 {
    margin-bottom: 20px; /* Add space between the navbar and the content */
}

#map {
    height: 500px; /* Set the map container height */
    margin-top: 20px; /* Adjust margin top for spacing */
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    width: 80%;
    max-width: 400px;
}

.center {
    margin: auto;
    width: 50%;
    text-align:center;
  }

  #content
  {
    height:100vh;
  }

.containers {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: -10px;
    width: 100rem;
}

@media screen and (max-width:800px) {

    #map {
        height: 25rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .containers {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        width: 20rem;
    }

    .search-container {

        top: 5px;

        transform: translateY(85px);
    }


}

@media screen and (max-width:1280px) {
    #map {
        height: 25rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .containers {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        width: 20rem;
    }

    .search-container {

        top: 5px;

        transform: translateY(85px);
    }
}