#map {
    margin-left: auto;
    margin-right: auto;
}

#main {
    background:white;
}

#nav 
{
    color:#FF0000;
}

/*Santander colours change */
.navbar.bg-danger {
    background-color: #ec0000!important;
}


body {
    padding-top: 60px;
}

.navbar1 {
    margin-bottom: 20px; /* Add space between the navbar and the content */
}

#map {
    height: 500px; /* Set the map container height */
    margin-top: 20px;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

.center {
    margin: auto;
    width: 50%;
    text-align:center;
  }

  #content
  {
    background:#f9f9f9;
    border-left: 1px solid #e9eaea;
    border-right:1px solid #e9eaea;
    padding: 30px!important;
  }

.containers {
    display: grid;
    grid-gap: 10px;
    margin: auto;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*Makes toggle go on new row when out of space*/
.services
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  /*Lines up 3 toggles in a row*/
.words
{
    width: 30%;
    margin-bottom: 10px;
}
/* Shadow for footer */
footer
{
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); 
}

.slideContainer{
    display: grid;
    grid-template-columns:13rem 10rem ;
    grid-gap: 10rem;
    justify-content: flex-center;
    
    /* align-items: center; */
    margin-left: 19rem;
    margin-top: -150px;
}


@media screen and (max-width:800px) {

    #map {
        height: 25rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .containers {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        width: 20rem;
    }

    .search-container {

        top: 5px;

        transform: translateY(85px);
    }


}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width:1280px) {
    #map {
        height: 25rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .containers {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        width: 20rem;
    }

    .search-container {

        top: 5px;

        transform: translateY(85px);
    }
}