body {
    margin: 0;
    overflow: hidden;
    background: url('https://static.independent.co.uk/2022/11/08/12/1e48076bf383fa62817ac17724dae938Y29udGVudHNlYXJjaGFwaSwxNjY3OTk0OTk0-2.22229531.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 3s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.animate-button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #ff0000; /* Red color */
    color: #ffffff; /* White text */
    padding: 100px 200px; /* Increase the size of the buttons */
    margin: 100px; /* Adjust the space between buttons */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 64px;
}

.animate-button:hover {
    background-color: #cc0000;
}


