body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

#login-container 
{
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button 
{
    width: 100%;
    padding: 10px;
    background-color: #ec0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

