/* navigation bar at the top of the page */
.navbar {
    background-color: #ec0000;
    overflow: hidden;
}

/* for buttons inside navigation bar */
.nav-buttons {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

/* return button, which is inside navigation bar */
.return-button {
    background-color: #ec0000;
    color: white;
    border: none;
    padding: 19px 30px;
    cursor: pointer;
    font-size: 15px;
}

/* hover for return button */
.return-button:hover {
    background-color: #ec0000;
}

/* body of the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* container which has the form and login button */
#login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* input boxes for user inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* login button inside form */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #ec0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}